/* Cart Food List Container */
.cart-food-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
  }
  
  /* Cart Child Container */
  .cart-child {
    width: 50%;
  }
  
  /* Hide Webkit Scrollbar */
  .cart-food-list::-webkit-scrollbar {
    display: none;
  }
  
  /* Heading Style */
  .cart-food-list h2 {
    margin-bottom: 50px;
  }
  
  /* Cart Item */
  .cart-item {
    display: flex;
    margin: 10px;
    padding: 10px;
    margin-top: 20px;
    align-items: center;
    border-radius: 5px;
    justify-content: space-between;
    box-shadow: 0px 0px 2px grey;
  }
  
  /* Cart Item Name */
  .cart-item-name {
    font-weight: 600;
  }
  
  /* Subtotal Container */
  .subtotal {
    margin-top: 50px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Cart Item Image */
  .cart-item img {
    width: 10%;
  }
  
  /* Cart Quantity Controls */
  .cart-quantity {
    display: flex;
    gap: 5px;
  }
  
  /* Cart Quantity Button */
  .cart-quantity button {
    background: none;
    border: none;
    cursor: pointer;
    background-color: rgb(109, 2, 167);
    color: #fff;
    border-radius: 5px;
  }
  
  /* Delete Icon */
  .delete-icon {
    justify-content: center;
    align-items: center;
    display: flex;
    color: orangered;
    cursor: pointer;
  }
  
  /* Cart Item Input */
  .cart-item input {
    height: 25px;
    width: 30px;
  }
  
  /* Empty Message Container */
  .empty-msg {
    height: 60vh;
    text-align: center;
    margin-top: 50px;
  }
  
  /* Return to Shop Link */
  .return-shop {
    text-decoration: none;
    color: rgb(12, 41, 183);
  }
  
  /* Return and Check Buttons */
  .return-btn, .check-btn {
    padding: 8px;
    width: 150px;
    background: none;
    border: none;
    outline: none;
    background-color: #212020;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
  }
  
  /* Media Query for Smaller Screens */
  @media (max-width: 600px) {
    .cart-food-list {
      flex-direction: column;
    }
    .cart-child {
      width: 100%;
    }
    .subtotal {
      width: 100%;
    }
    .cart-price {
      display: none;
    }
    .cart-item {
      font-size: 14px;
    }
    .empty-msg h1 {
      font-weight: 600;
      font-size: 30px;
    }
  }
  