body, h1, h2, p, ul {
  margin: 0;
  padding: 0;
}
/* Set a background color */
body {
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
}

/* Style the header navigation */
header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

nav li a:hover {
  margin: 0 20px;
  color: rgb(240, 197, 6);
  transition-duration: 1s;
}
nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* Style the hero section */
.hero {
  text-align: center;
  padding: 100px 0;
  background-image: url('background.jpg');
  background-size: cover;
  color: #98333a;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 40px;
}

.driver-btn {
  display: inline-block;
  margin: 25px;
  padding: 50px 90px;
  background-color: #333;
  font-size: x-large;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.driver-btn:hover {
  color: transparent;
  background-color: #e80c0c;
  background-image: url(images/delivery_button.gif);
  background-size: contain;
}

.customer-btn {
  display: inline-block;
  margin: 25px;
  padding: 50px 70px;
  background-color: #333;
  font-size: x-large;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.customer-btn:hover {
  color: transparent;
  background-color: #e80c0c;
  background-image: url(images/customer_button.gif);
  background-size: contain;
}

.popup {
  display: none;
  position: fixed;
  top: 40%;
  left: 20%;
  transform: translate(-5%, -50%);
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#driver-btn:hover + #driver-popup {
  display: block;
}


#customer-btn:hover + #customer-popup {
  display: block;
}

/* Style the features section */
.features {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  background-color: #fff;
}

.feature {
  text-align: center;
  margin: 0 20px;
}

.feature img {
  width: 200px;
  height:180px;
  margin-bottom: 20px;
}

.feature h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.feature p {
  font-size: 16px;
}
footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    color: white;
  }
  
  .footer1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 15px;
  }
  .social-media {
    display: flex;
    justify-content: center;
    color: white;
    flex-wrap: wrap;
}

.social-media a {
    color: white;
    margin: 20px;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
}

.social-media {
    list-style: none;
    margin-top: 10px;
  }
  .social-media li a img {
    width: 30px;
  }
  .social-media li {
    float: left;
    padding: 0px 8px;
  }

  .footer2 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    flex-wrap: wrap;
  }
  .footer0 {
    font-weight: 1200;
    transition-duration: 1s;
  }
  .footer0:hover {
    color: rgb(243, 168, 7);
  }
  .footer2 .heading {
    font-weight: 900;
    font-size: 18px;
  }
  .footer3 {
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer2 .heading:hover {
    color: rgb(243, 168, 7);
  }
  .footer2 .div:hover {
    transform: scale(1.05);
  }
  .footer3 h4 {
    margin: 0 10px;
  }
  .footer2 div {
    margin: 10px;
  }
