.card {
  /* position: relative; */
  width: 270px;
  height: 370px;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid #ecebeb;
  text-align: center;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.card-img-container {
  /* background-color: rgb(189, 86, 73); */
  width: 100%;
  height: 200px;
  /* margin-top: 1rem; */
}

.card-img {
  padding: 1rem;
  height: 200px;
  cursor: pointer;
}

.card-rating {
  padding-left: 1rem;
  text-align: start;
  color: goldenrod;
  width: 100%;
  /* background-color: rgb(205, 127, 117); */
}
.card-rating span {
  font-size: 12px;
  color: #1e3050;
}

.card-title {
  /* background-color: rgb(189, 86, 73); */
  font-weight: 600;
  padding-left: 1rem;
  text-transform: uppercase;
  text-align: left;
  font-size: 13px;
  width: 100%;
  text-align: left;
  height: 20px;
}

.card-price {
  font-weight: 600;
  /* background-color: rgb(67, 195, 245); */
}

.cart-add-item {
  /* background-color: rgb(67, 195, 245); */
  width: 100%;
  height: 40px;
}

.menu-item-btn {
  width: 100%;
  height: 50px;
  border-top: 1px solid #ecebeb;
  background-color: transparent;
  align-items: center;
}
.menu-item-btn:hover {
  background-color: #1e3050;
  color: #ebebeb;
}

.menu-item-btn button:hover{
color: #ebebeb;
}

.item-counter-btn {
  font-size: 18px;
  width: 3rem;
  background-color: transparent;
}


.card-desc {
  width: 100%;
  height: 50px;
  padding: 1rem 1rem;
  font-size: 13px;
  /* background-color: rgb(67, 245, 147); */
  align-items: center;
}

.card-icon {
  border-radius: 4px;
  padding: 0.5rem;
  cursor: pointer;
  margin: 0.2rem;
}
.i-heart {
  background-color: var(--color-salmon);
  color: var(--color-white);
}

.i-share {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.product-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  
}

.product-card-div1 {
  grid-area: 1 / 1 / 5 / 3;
  background-color: var(--color-light-green);
  margin-right: 1rem;
 
}
.product-card-div2 {
  grid-area: 1 / 3 / 2 / 5;
  text-align: start;
  flex-direction: column;
  align-items: start;
}
.product-card-div3 {
  grid-area: 2 / 3 / 4 / 5;
  text-align: start;
  font-size: 12px;
  
  padding-top: 1rem;
}

.product-card-desc{
  overflow:hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-weight: var(--font-light);
  font-size: 12px;
  margin-bottom: 1rem;
}

.product-card-ing{
 margin-bottom: 1rem;
 
}

.product-card-div4 {
  grid-area: 4 / 3 / 5 / 5;
}

.product-card-div4 button {
  border: 1px solid #1e3050;
}

