.service-container {
  height: 70vh;
  /* 
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(7, 7, 7, 0.92)),
    url(https://images.unsplash.com/photo-1695654390723-479197a8c4a3?q=80&w=2034&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  filter: opacity(90%);
  padding: 5rem; */
  flex-direction: column;

}

.service {
  color: var(--color-blue);
  height: 100%;
  /* opacity: 75%; */
}

.service-card {
  width: 270px;
  height: 400px;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  /* border: 1px solid #ccc; */
  /* backdrop-filter: blur(10px); */
  /* background-color: var(--color-green); */
  border-radius: 4px;
  /* box-shadow: 2px 2px 10px rgba(190, 185, 185, 0.2); */
}

.service-img img {
  width: 100px;
}

.service-title {
  width: 100%;
  height: 20px;
  text-align: center;
  font-size: larger;
  margin-bottom: 2rem;
  font-weight: var(--font-bold);
}

.service-info {
  font-weight: var(--font-light);
  text-align: center;
  height: 40%;
}
