.latest-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 50px;
    margin-top: 20px;
    margin: auto;
    background: #333; /* Dark background color */
  }
  
  .category-text {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: white;
    height: 50px;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    transition: background-color 0.4s ease;
  }
  
  .category-text:hover {
    background-color: #555; /* Hover background color */
    cursor: pointer;
  }
  
  .latest-nav div {
    cursor: pointer;
  }
  
  @media (max-width: 800px) {
    .latest-nav {
      margin-top: 15px;
      width: 90%;
      gap: 10px;
    }
  }
  