/* About Section Container */
.about {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    padding: 3rem;
    margin-top: 70px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }
  
  /* About Text */
  .about-text {
    width: 60%;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
  }
  
  /* About Images */
  .about-img img,
  .about-delivery-img img {
    width: 600px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Delivery Information */
  .about-delivery-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .about-delivery-img p {
    font-size: 2.5rem;
    font-weight: 600;
    color: #333;
    text-align: center;
  }
  
  /* Media Queries */
  @media (max-width: 600px) {
    .about-img img,
    .about-delivery-img img {
      width: 100%;
    }
  
    .about-delivery-img p {
      font-size: 2rem;
    }
  
    .about-text {
      width: 100%;
    }
  
    .about-text h1 {
      font-size: 2rem;
      font-weight: 600;
    }
  }
  